# Lab 2 Solutions

**Exercise 1**: Define a `square` function using sections

In [ ]:
square :: Int -> Int
square = (^2)

-- Test
square 4
square 10

**Exercise 2**: Write a function `older name1 age1 name2 age2` that prints who is older.

In [ ]:
older :: String -> Int -> String -> Int -> String
older name1 age1 name2 age2 
    | age1 > age2 = name1 ++ " is older than " ++ name2
    | age1 < age2 = name2 ++ " is older than " ++ name1
    | otherwise = name1 ++ " and " ++ name2 ++ " are the same age"

-- Test
older "Pepe" 22 "Luisa" 18
older "Pepe" 12 "Luisa" 18
older "Pepe" 18 "Luisa" 18

**Exercise 3**: Write a `ticketPrice age` function with guards and patterns.

In [ ]:
-- With guards
ticketPrice :: Int -> Float
ticketPrice age 
    | age < 5 = 9 * 0.4
    | age > 60 = 9 * 0.45
    | age < 26 = 9 * 0.8
    | otherwise = 9

-- Test
ticketPrice 3
ticketPrice 22
ticketPrice 61
ticketPrice 29

-- With patterns
ticketPrice' :: Int -> Float
ticketPrice' age
    | age < 5 = 9 * 0.4
    | age > 60 = 9 * 0.45
    | age < 26 = 9 * 0.8
    | otherwise = 9

-- Test
ticketPrice' 3
ticketPrice' 22
ticketPrice' 61
ticketPrice' 29

**Exercise 4**: Write a `sign` function that returns -1, 0, or 1 depending on the number.

In [ ]:
sign :: Int -> Int
sign n 
    | n < 0 = -1
    | n == 0 = 0
    | otherwise = 1

-- Test
sign (-5)
sign 0
sign 5

**Exercise 5**: Write an `absolute` function using guards and patterns.

In [ ]:
absolute :: Int -> Int
absolute n 
    | n < 0 = -n
    | otherwise = n

-- Test
absolute (-7)
absolute 5
absolute 0

**Exercise 6**: Create a `leapYear` function to calculate leap years.

In [ ]:
leapYear :: Int -> String
leapYear year 
    | (year `mod` 400 == 0) = show year ++ " was a leap year"
    | (year `mod` 100 == 0) = show year ++ " was not a leap year"
    | (year `mod` 4 == 0) = show year ++ " was a leap year"
    | otherwise = show year ++ " was not a leap year"

-- Test
leapYear 1901
leapYear 2016
leapYear 2400
leapYear 2401
leapYear 2022

**Exercise 7**: Create a `calculator` function to simulate a basic calculator.

In [ ]:
calculator :: Int -> Int -> Char -> Int
calculator num1 num2 operator 
    | operator == '+' = num1 + num2
    | operator == '-' = num1 - num2
    | operator == '*' = num1 * num2
    | operator == '/' = div num1 num2
    | otherwise = error "wrong operator"

-- Test
calculator 4 2 '+'
calculator 4 2 '-'
calculator 4 2 '*'
calculator 4 2 '/'